<h1
  class="pt-[50px] lg:pt-[150px] px-5 text-center font-merriweather font-bold text-4xl text-kone"
>
  Selamat Datang di Portal Desa Manud Jaya!
</h1>
<p class="text-center text-xl text-kone font-inter font-bold pt-20">
  Quick Links:
</p>
<div
  class="flex flex-col lg:flex-row justify-center items-center gap-4 pt-10 px-5"
>
  <a routerLink="/admin/home">
    <button
      class="link py-2 px-4 min-w-[100px] border boder-solid border-kthree text-kfour bg-kthree rounded-xl hover:bg-kfour hover:border-kthree hover:text-kthree"
    >
      <div class="flex items-center gap-2">
        <img
          ngSrc="assets/icons/pages-blue.svg"
          height="24"
          width="24"
          alt="Pages"
        />
        <p class="font-inter">Dashboard</p>
      </div>
    </button>
  </a>
  <a routerLink="/admin/article">
    <button
      class="link py-2 px-4 min-w-[100px] border boder-solid border-kthree text-kfour bg-kthree rounded-xl hover:bg-kfour hover:border-kthree hover:text-kthree"
    >
      <div class="flex items-center gap-2">
        <img
          src="assets/icons/pages-blue.svg"
          height="24"
          width="24"
          alt="Pages"
        />
        <p class="font-inter">Article</p>
      </div>
    </button>
  </a>
</div>
