<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-5">
      <div class="card my-3">
        <img
          src="assets/images/suro.jpg"
          class="card-image-top"
          alt="thumbnail"
        />

        <div class="card-body">
          <h3 class="card-title">
            <a href="#" class="text-secondary">Penyambutan 1 Suro</a>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-md-7 col-lg-5">
      <div class="card my-3">
        <img
          src="assets/images/vaksin.jpeg"
          class="card-image-top"
          alt="thumbnail"
        />

        <div class="card-body">
          <h3 class="card-title">
            <a href="#" class="text-secondary">Kegiatan Vaksinasi</a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
