.container {
  background-color: #f3f2ec;
}

.card-img-top {
  max-height: 250px;
  overflow: hidden;
}

.card-title {
  a:link {
    font-size: 30px;
    background-color: transparent;
    color: #000;
    text-decoration: none;

    &:hover {
      color: red;
      background-color: transparent;
      text-decoration: underline;
    }
  }
}
