<div class="headbar-kasir">
  <a
    routerLink="/apps/home"
    class="text-kfour font-inter tracking-normal font-normal text-xs lg:text-sm lg:ml-10 no-underline py-1 px-4 hover:bg-kthree hover:text-kfour"
  >
    <div class="flex items-center gap-2">
      <p>Desa<br />Manud Jaya</p>
    </div>
  </a>
  <a
    routerLink="/auth/sign-in"
    class="text-kfour font-merriweather tracking-normal font-normal text-sm lg:text-lg lg:mr-10 no-underline cursor-pointer p-4 hover:bg-kthree hover:text-kfour"
  >
    Sign Out
  </a>
</div>
