$content-width: 1000px;
$breakpoint: 799px;
$body-background: #F3F2EC;
$nav-height: 70px;
$nav-background: #A9A9A9;
$nav-font-color: #0c0c0c;
$link-hover-color: #E2CEBC;
$dividerHeight: 70px;

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
  font-family: 'Poppins';
  background: $body-background;
}

.navigation {
  height: $nav-height;
  background: $nav-background;
}

.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  
  &:hover{
    
  }

  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

nav {
  float: right;
  ul {
      list-style: none;
      margin: 0;
      padding: 0;
    li {
      float: left;
      position: relative;
      a {
        display: block;
        padding: 10px 20px 0 20px;
        line-height: 50px;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        
        
         &::before {
           transition: 300ms;
           height: 5px;
           content: "";
           position: absolute;
           background-color: $link-hover-color;
           width: 0%;
           bottom: 0px;
        }

        &:hover::before{
          width: 70%;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}


.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}

@media only screen and (max-width: $breakpoint) {
  .nav-mobile {
    display: block;
  }
  nav {
      width: 100%;
      padding: $nav-height 0 15px;
    ul {
      display: none;
      
      li{
        float: none;
        
        a {
          padding: 15px;
          line-height: 20px;
          
          &:hover::before{
            width: 20%;
          }
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $link-hover-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}

.container {
  text-align: center;
  padding: 3%;
  max-width: 1200px; 
  margin: 0 auto;
}

.vm-container {
  text-align: center;
  padding: 3%;
  max-width: 600px; 
  margin: 0 auto;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.text {
  font-size: 1em;
  margin: 2%;
  margin-bottom: 40px;
}

.divider {
  height: $dividerHeight;
  background-color: #A9A9A9; // Example color, you can change as needed
  width: 100%; // Assuming full width, adjust as needed
}

.image-swipe-container {
  width: 100%;
  overflow: hidden;
  position: relative;

  .image-wrapper {
    display: inline-block;
    width: 100%;
    transition: transform 0.3s ease-out;
    white-space: nowrap;

    .image {
      width: 100%;
      height: auto;
    }
  }
}

.footer {
  background-color: #A9A9A9;
  color: #0c0c0c;
  padding: 50px 0;
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .left-container {
    flex: 1;
    
    .contact-form {
      h3 {
        font-size: 20px;
      }
      
      p {
        margin-bottom: 20px;
      }
      
      form {
        display: flex;
        flex-direction: column;
        
        input,
        textarea {
          margin-bottom: 15px;
          padding: 10px;
          width: 100%;
          border: none;
          border-radius: 5px;
        }
        
        button {
          padding: 10px 20px;
          background-color: #0c0c0c;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
  
  .right-container {
    flex: 1;
    background-color: #0c0c0c;
    padding: 20px;
    margin: 20px;
    margin-left: 80px;
    color: #fff;
    text-align: left;
    
    .contact-info {

      h3 {
        margin-top: 24px;
        font-size: 20px;
      }
      
      ul {
        margin-top: 18px;
        list-style: none;
        padding: 0;
        
        li {
          margin-top: 12px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.swipe-container {
  width: 100%;
  overflow: hidden;

  .image-wrapper {
    display: flex;
    transition: transform 0.3s ease;
  }

  img {
    width: 100%;
    height: auto;
  }
}