<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="">Manud Jaya</a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li><a href="#!">Menu</a></li>
        <li>
          <a href="#!">Organisasi</a>
          <ul class="nav-dropdown">
            <li><a href="#!">Berita</a></li>
            <li><a href="#!">Agenda</a></li>
            <li><a href="#!">Artikel</a></li>
          </ul>
        </li>
        <li><a href="#!">Rencana Keuangan</a></li>
        <li><a href="#!">Servis Administrasi</a>
          <ul class="nav-dropdown">
            <li><a href="#!">Online</a></li>
            <li><a href="#!">Offline</a></li>
          </ul></li>
      </ul>
    </nav>
  </div>
</section>

<body>
  <div class="vm-container">
    <h1 class="title">Visi</h1>
    <p class="text">Menjadi sebuah desa yang transparan, inklusif, dan efisien dalam menyediakan informasi organisasi yang mudah diakses, perencanaan keuangan yang terkelola dengan baik, serta layanan administrasi yang responsif untuk meningkatkan kesejahteraan dan partisipasi aktif warga</p>
    <h1 class="title">Misi</h1>
    <p class="text">Memastikan transparansi dalam penyediaan informasi organisasi.
      Menyusun dan mengelola perencanaan keuangan secara efisien.
      Meningkatkan kualitas layanan administrasi dengan responsivitas yang tinggi.</p>
  </div>
  <div class="divider"></div>
  <div class="container">
    <h1 class="title">Foto Kegiatan</h1>
    <app-album></app-album>
  </div>
  <div class="divider"></div>
  <div class="container">
    <h1 class="title">Berita</h1>
    <app-carousell></app-carousell>
  </div>
</body>

<footer class="footer">
  <div class="container">
    <div class="left-container">
      <div class="contact-form">
        <h3>Kontak Kami</h3>
        <p>Silakan tinggalkan pesan kepada kami.</p>
        <form action="#" method="post">
          <input type="text" name="name" placeholder="Nama" required>
          <input type="email" name="email" placeholder="Email" required>
          <textarea name="message" placeholder="Pesan" required></textarea>
          <button type="submit">Kirim</button>
        </form>
      </div>
    </div>
    <div class="right-container">
      <div class="contact-info">
        <h3>Hubungi Kami</h3>
        <ul>
          <li><i class="fas fa-envelope"></i>  admin.desamanudjaya@gmail.com</li>
          <li><i class="fas fa-phone"></i>  123-456-7890</li>
          <li><i class="fas fa-map-marker-alt"></i>  Gedung Utama Desa Manud Jaya</li>
          <li><i class="fas fa-clock"></i>  08.00 - 17.00</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
